extends ../base
//- TODO paginator

block append head
  title blog

block content
  article
    header
      h1 Posts
    each postGroup, yearMonth in posts
      h3.center #{yearMonth}
      each post in postGroup
        ul.items
          li
            a(href='/posts/#{post.date}/#{post.name}') #{post.title}
            time(date='#{post.date}') #{post.datetime}