extends ./lib/base

block append head
  title blog
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  article.container
    header
      h1.linux Archive

    - var currentMonth = null;
    ul.items
      each post in posts
        if post.month !== currentMonth
          li
            h3.center #{post.month}
            - currentMonth = post.month
        li
          a.linux(href='/posts/#{post.filename}') #{post.title}
          time(date='#{post.date}') #{post.date}
