extends base

block append head
  title #{post.title}

block content
  article
    header.clearfix
      h1
        a(href='/posts/#{post.id}.html') #{post.title}
      p.meta
        time(datetime='#{post.date}', pubdate) #{post.datetime}
    article!= post.content

block nav
  ul
    if post.next
      li: a(href='/posts/#{post.next}.html') next
    else
      li: a.black next
    if post.prev
      li: a(href='/posts/#{post.prev}.html') prev
    else
      li: a.black prev